.anchor {
  background: url('../images/noise-light.png') left top / 20% var(--color-light);
  border-top: var(--border-dark);
  box-shadow: var(--box-shadow-dark);
  color: inherit;
  display: grid;
  font-weight: inherit;
  padding: var(--space-neutral) var(--space-large);
  position: sticky;
  text-decoration: none;
  top: var(--nav-height);
  transition:
    background var(--transition),
    box-shadow var(--transition),
    color var(--transition)
  ;
  z-index: 99;
}

.anchor h3 {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-medium);
  font-weight: 500;
  line-height: var(--line-height-tight);
  margin-bottom: -0.3em;
  margin-top: -0.225em;
}



.anchor--dark {
  background: url('../images/noise-dark.png') left top / 20% var(--color-dark);
  box-shadow: var(--box-shadow-light);
}

.anchor--stuck {
  background: var(--color-pink);
  box-shadow: var(--box-shadow-dark);
  color: var(--color-dark);
}



@media(hover: hover) {

  .anchor:focus,
  .anchor:hover {
    background: var(--color-pink);
    color: var(--color-dark);
  }

}



@media(min-width: 64em) {

  .anchor {
    padding-inline: var(--space-xxx-large);
  }

}
