.button {
  background: var(--color-dark);
  border-radius: 0.6em;
  color: var(--color-light);
  display: flex;
  font-weight: 600;
  justify-self: self-start;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
}

.button span {
  margin-bottom: -0.1125em;
  margin-top: -0.1em;
  padding: 1em 1.1em;
}

b.button {
  background: none;
  color: var(--color-dark);
  font-weight: 400;
  text-transform: none;
}

b.button span {
  padding: 0;
}



.button--dark {
  background: var(--color-light);
  color: var(--color-dark);
}

b.button--dark {
  color: var(--color-light);
}



@media(hover: hover) {

  a.button {
    transition:
      background var(--transition),
      color var(--transition)
    ;
  }

  a.button:focus,
  a.button:hover {
    background: var(--color-light);
    color: var(--color-dark);
  }

  a.button--dark:focus,
  a.button--dark:hover {
    background: var(--color-pink);
    color: var(--color-dark);
  }

}
