.button {
  background: var(--color-dark);
  border-radius: 2.5em;
  color: var(--color-light);
  display: flex;
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  font-weight: 600;
  justify-self: self-start;
  line-height: 1em;
  outline: max(1px, 0.125em) solid var(--color-dark);
  outline-offset: max(1px, 0.0875em);
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
}

.button span {
  margin-bottom: -0.1125em;
  margin-top: -0.1em;
  padding: 0.75em 1.125em;
}



.button--dark {
  background: var(--color-light);
  color: var(--color-dark);
  outline-color: var(--color-light);
}

.button--nav {
  background: var(--color-dark);
  color: var(--color-pink);
  outline-color: var(--color-dark);
}



@media(hover: hover) {

  .button {
    transition:
      background var(--transition),
      color var(--transition),
      outline var(--transition)
    ;
  }

  .button--dark:focus,
  .button--dark:hover {
    background: var(--color-pink);
    color: var(--color-dark);
    outline-color: var(--color-pink);
  }

  .button--nav:focus,
  .button--nav:hover {
    background: var(--color-light);
    color: var(--color-dark);
    outline-color: var(--color-light);
  }

}
