.content h2 {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-large);
  font-weight: 400;
  line-height: var(--line-height-tight);
  margin-bottom: -0.275em;
  margin-top: -0.225em;
}

.content p {
  margin-block: -0.3875em;
}

.content dl {
  align-content: start;
  display: grid;
  gap: 1.3em;
}

.content dl dt,
.content dl dd {
  margin-block: -0.3875em;
}

.content dl dt {
  font-weight: 700;
}

.content dl dt u {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cline x1='1' y1='2' x2='4' y2='2' stroke='%23FF8AFF' stroke-width='2' stroke-linecap='round' stroke-dasharray='0 4'/%3E%3C/svg%3E") 0 100% / 0.4em 0.4em repeat no-repeat;
  display: inline-block;
  padding-bottom: 0.4em;
  position: relative;
  text-decoration: none;
}

.content ul {
  align-content: start;
  display: grid;
  gap: 0.5em;
  margin-block: -0.3875em;
}

.content ul li {
  padding-left: 1.1em;
  position: relative;
}

.content ul li:before {
  color: var(--color-pink);
  content: '◆';
  left: 0;
  position: absolute;
}
