html {
  font-size: 16px;
  scroll-padding-top: calc(var(--nav-height) - var(--border-height));
}

body {
  background: url('../images/noise-light.png') center / 20% var(--color-light);
  color: var(--color-dark);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
}

body.preload *,
body.preload *:before,
body.preload *:after {
  transition: none !important;
}

a {
  color: var(--color-pink);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: from-font;
}

b,
strong {
  font-weight: 700;
}

img,
source,
video {
  height: auto;
  max-width: 100%;
  width: 100%;
}
