@font-face {
  font-display: swap;
  font-family: 'Jet Brains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Jet Brains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Jet Brains Mono';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Clash Grotesk';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/ClashGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/ClashGrotesk-Regular.woff') format('woff')
  ;
}

@font-face {
  font-display: swap;
  font-family: 'Clash Grotesk';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/ClashGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/ClashGrotesk-Medium.woff') format('woff')
  ;
}

@font-face {
  font-display: swap;
  font-family: 'Clash Grotesk';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/ClashGrotesk-Semibold.woff2') format('woff2'),
    url('../fonts/ClashGrotesk-Semibold.woff') format('woff')
  ;
}
