.footer {
  background: url('../images/footer.jpg') center / cover no-repeat;
  height: 44vw;
  position: relative;
}

.footer__legal {
  align-items: center;
  background: var(--color-pink);
  bottom: 0;
  display: grid;
  justify-content: start;
  padding: var(--space-medium) var(--space-large);
  position: absolute;
  width: 100%;
}

.footer__legal p {
  font-size: 90%;
  font-weight: 800;
  margin-bottom: -0.425em;
  margin-top: -0.3125em;
  text-transform: uppercase;
}



@media(min-width: 64em) {

  .footer__legal {
    padding-inline: var(--space-xxx-large);
  }

}
