.footer {
  background: var(--color-pink);
  display: grid;
  padding: var(--space-medium) var(--space-large);
  position: relative;
}

.footer p {
  font-size: 90%;
  font-weight: 800;
  margin-bottom: -0.425em;
  margin-top: -0.3125em;
  text-transform: uppercase;
}



@media(min-width: 64em) {

  .footer {
    padding-inline: var(--space-xxx-large);
  }

}
