@keyframes noise {

  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 40% 60%;
  }

  50% {
    background-position: 80% 20%;
  }

  75% {
    background-position: 20% 80%;
  }

  100% {
    background-position: 60% 40%;
  }

}
