.overview {
  border-bottom: var(--border-dark);
  display: grid;
  position: relative;
}

.overview__content {
  display: grid;
  gap: var(--space-large);
  padding: var(--space-x-large) var(--space-large);
}



@media(min-width: 64em) {

  .overview__content {
    gap: var(--space-x-large);
    padding: var(--space-xx-large) var(--space-xxx-large);
    width: min(100%, 48em);
  }

}
