.rules {
  display: grid;
  position: relative;
}

.rules__anchor {
  border-bottom: var(--border-dark);
}

.rules__content {
  display: grid;
}

.rules__content dl {
  border-bottom: var(--border-dark);
  padding: var(--space-large);
}

.rules__content dl dt span {
  display: block;
  padding-left: 1.1em;
  position: relative;
}

.rules__content dl dt span:before {
  color: var(--color-pink);
  content: '◆';
  left: 0;
  position: absolute;
}



@media(min-width: 48em) {

  .rules__content dl {
    gap: unset;
    grid-template-columns: repeat(24, 1fr);
    padding: 0;
  }

  .rules__content dl dt,
  .rules__content dl dd {
    margin-block: 0;
    padding: calc(var(--space-neutral) - 0.3875em) var(--space-large);
  }

  .rules__content dl dt {
    border-right: var(--border-dark);
    grid-column: span 7;
  }

  .rules__content dl dd {
    grid-column: span 17;
  }

}



@media(min-width: 64em) {

  .rules__content dl dt,
  .rules__content dl dd {
    padding-inline: var(--space-xxx-large);
  }

}
